#footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 1%;
    z-index: 2;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#matbishIcon {
    position: absolute;
    bottom: 0;
    right: 0;
}

#map {
    position: fixed;
    height: 100vh ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#bereshitMessage {
    position: absolute;
    bottom: 20%;
    left: 40%;
    background-color: rgba(54, 53, 53, 0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}

#bereshitNumberText {
    color: white;
    white-space: nowrap;
}
