#footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 1%;
    z-index: 2;
}

#header {
    position: fixed;
    top: 3%;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

#header h2 {
    color: black;
}

.matbish-icon {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 3;
}

#map {
    position: fixed;
    height: 100vh ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#bereshitMessage {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    background-color: rgba(54, 53, 53, 0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}

#bereshitNumberText {
    color: white;
    white-space: nowrap;
}
